$mainColor: rgb(43,55,96);
  $shadowColor: rgb(14, 20, 41);

.App {
  text-align: center;
  min-height:100vh;
  height:100%;
  color: #fff;
  background: radial-gradient($mainColor,  $shadowColor);
}
